*{
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none;
}

/* ----NAVBAR---- */

ul{
    list-style-type: none;
}

.header{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    display: flex;
    flex-direction: row;
    gap: 40px;

    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 1rem;
}

/* ----HOME---- */

.home{
    height: 70vh;
    margin-left: 25px;
    margin-right: 25px;
    padding: 40px;
    border: 1px solid black; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

h1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 5rem;
}

/* ----SOBRE MI---- */

.grilla-sobre-mi{
    margin-right: 25px;
    margin-top: 50px;
    margin-left: 100px;

    display: grid;
    grid-template-columns: 20% 20% 60%;
    grid-template-rows: 100px 150px 200px 100px;
    column-gap: 50px;
}

h2{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 2.5rem;
}
.header-sobre-mi{
    grid-column: 1/3;
    grid-row: 2/3;
}

.texto-sobre-mi{
    grid-column: 1/2;
    grid-row: 3/4;

    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
}

.texto-sobre-mi-bis{
    grid-column: 2/3;
    grid-row: 3/4;

    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
}

.img-yo{
    width: 70%;
    height: 100%;
    grid-column: 3/4;
    grid-row: 1/5;
    justify-self: center;
}

/* ----MOBILE SOBRE MI---- */

@media (max-width: 480 ) {
    .grilla-sobre-mi{
        margin: 50px;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

/* ----EXPERIENCIA---- */

.experiencia{
    height: 78vh;
    margin-left: 100px;
    margin-right: 50vw;
    padding-top: 100px;
}

.exp-list{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.exp-list,li{
    padding-top: 30px;
    padding-bottom: 30px;

    font-family: 'Raleway', sans-serif;
}

.titulos-exp{
    padding-top: 30px;
    padding-bottom: 30px;
}

/* ----PROYECTOS---- */

.titulo-proyectos{
    text-align: center;
    padding-top: 50px;
}

.proyectos{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 50px;

}

/* TARJETAS */

.tarjeta-proyecto{
    width: 30%;
    height: 25%;
}

.tarjeta-img{
    width: 100%;
    height: 100%;
}

.tarjeta-titulo{
    padding-top: 5px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 1rem;
}
/* ----CONTACTO----- */

.contacto{
    background-image: url("../img/foto-contacto.png");
    width: 40%;
    margin-left: 100px;
    padding-top: 100px;
}

.btn{
    padding: 0.5em 1em;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 1.2rem;
    border-color: black;
    border-radius: 20px;
}

.iconos{
    margin-left: 100px;
    padding-top: 400px;
}

/* ----MOBILE PROYECTOS---- */

@media (max-width: 480px ) {
    
    .titulo-proyectos{
        font-size: 2rem;
        padding-top: 0;
    }

    .proyectos{
        margin: 50px;
    }

    .tarjeta-proyecto{
        width: 100%;
        height: 50%;
    }
}



