/* ----HOME---- */

.home{
    height: 70vh;
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
    border: $borde; 
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h1{
        @include tipografias ($serif,5rem,700);
    }

    .home-servicios{
        margin-left: 50px;
        margin-right: 50px;
        padding-top: 100px;
    }

}

@media (max-width: 375px ) {
    h1{
        @include tipografias ($serif,2rem,500);
    }

}