.footer{
    margin: 50px;
    margin-right: 100px;
    margin-left: 100px;
    color: #8b8b8b;

    .footer-links{
        padding: 0px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20px;
    
        .icono-footer{
            width: 20px;
            height: 20px;
        }
    }
}

@media (max-width: 375px) {
    .footer{
        margin: 20px;
        padding-top: 50px;
        padding-bottom: 20px;
    }
}

